* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Inter', sans-serif;
}

header {
  padding: 30px;
}

main {
  max-width: 600px;
  margin: 0 auto;
}

hr {
  border-left: none;
  border-right: none;
  border-bottom: none;
  margin-bottom: 17px;
}

p {
  margin: 0;
}

.header__title {
  margin: 0;
  text-align: center;
  letter-spacing: -0.08em;
  font-size: 36px;
}

.information {
  background-color: #F8F5F5;
  padding: 20px;
}

.information__title {
  margin-top: 0px;
  font-weight: 400;
  font-size: 24px;
}

.icon {
  height: 15px;
  width: 15px;
  margin-right: 6px;
}

.button {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-left: auto;
  padding: 5px 10px;
  border: none;
  background-color: #00D9B2;
  color: white;
  font-weight: 700;
  cursor: pointer;
}

.information__label {
  display: block;
}

.information__field {
  width: 100%;
  padding: 10px;
  border: solid black 1px;
  margin-bottom: 20px;
}