* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Inter', sans-serif;
  color: #333333;
}

header {
  padding: 30px;
}

main {
  max-width: 600px;
  margin: 0 auto 60px auto;
}

hr {
  border-left: none;
  border-right: none;
  border-bottom: none;
  margin-bottom: 17px;
}

p {
  margin: 0;
}

.header__title {
  margin: 0;
  text-align: center;
  letter-spacing: -0.08em;
  font-size: 36px;
}

.information, .education, .experience {
  background-color: #F8F5F5;
  padding: 20px;
}

.information__title, .education__title, .experience__title {
  margin-top: 0px;
  font-weight: 400;
  font-size: 24px;
}

.icon {
  height: 15px;
  width: 15px;
  margin-right: 6px;
  font-weight: 700;
}

.button {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-left: 15px;
  padding: 15px;
  border: none;
  background-color: #00D9B2;
  color: white;
  font-weight: 700;
  cursor: pointer;
}

.information__label, .education__label, .experience__label {
  display: block;
}

.information__field, .education__field, .experience__field {
  width: 100%;
  padding: 10px;
  border: solid black 1px;
  margin-bottom: 20px;
}

.education__form, .education__display, .experience__form, .experience__display {
  margin-bottom: 30px;
}

.button-container {
  display: flex;
  align-items: center;
  justify-content: end;
}