* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Inter', sans-serif;
}

header {
  padding: 30px;
}

.header__title {
  margin: 0;
  text-align: center;
  letter-spacing: -0.08em;
}